.header-title {
  --tw-gradient-from: #fcc00a;
  --tw-gradient-to: #4ebae9;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  color: transparent;
  margin: 10px;
  text-align: center;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  animation: hue 10s linear infinite;
  font-size: 70px;
}
@keyframes hue {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(-1turn);
  }
}

.sub-header {
  font-size: 14px;
  font-weight: 200;
  text-align: center;
  letter-spacing: 0.02em;
}
