@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic');

.card {
  overflow: hidden;
  font-family: 'Rubik', sans-serif;
  border-radius: 14px;
  margin: 20px;
  cursor: pointer;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background: #09132a;
  color: white;
}

.card-header {
  border-bottom: dashed 2px #192a52;
  padding-bottom: 20px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.card-title {
  font-weight: 600;
  font-size: 22px;
  margin: 30px 0 15px 0;
}
.card-subTitle {
  font-size: 14px;
  font-weight: 300;
  opacity: 0.7;
}

.card:hover {
  transform: translateY(-5px);
  transition: transform 0.5s;
}

input {
  width: 100%;
  padding: 12px;
}
